<header class="text-center text-dark">
  <div>
    <% if (user) {%>
    <p>Logged in as <%= user.username %></p>
    <p id="clock"></p>
    <% } %>
  </div>
  <div>
    <img id="logo" src="/assets/color-logo-no-background.svg" alt="" />
  </div>
  <nav>
    <ul role="navigation">
      <% if (user) {%>
      <li><a href="/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/login">Login</a></li>
      <li class="nav-item">
        <a href="/signup">Signup</a>
        <% } %>
      </li>
    </ul>
  </nav>
  <h1>Sprout Log</h1>
</header>
