<header class="flex-container">
  <div class="flex-container">
  <div>
    <p id="clock"></p>
  </div>
  <div>
    <img id="logo" src="/assets/color-logo-no-background.svg" alt="" />
  </div>
  <nav>
      <% if (user) {%>
        <p><%= user.username %></p>
        <a href="/logout" class="button">Logout</a>
      <% } else if (page === "login") { %>
        <a href="/signup" class="button">Signup</a>
      <% } else if (page === "signup") {%>
        <a href="/login" class="button">Login</a>
      <% } %>
    </nav>
  </nav>
  </div>
  <h1>Sprout Log</h1>
</header>
