<header class="flex-container">
  <h1>Sprout Log</h1>
  <div class="grid-container">
    <div>
      <p id="day"></p>
      <p id="date"></p>
      <p id="clock"></p>
    </div>
    <div>
      <a href="/">
        <img id="logo" src="/assets/color-logo-no-background-v8.svg" alt="" />
      </a>
    </div>
    <nav>
        <% if (user) {%>
          <p><%= user.username %></p>
          <% if (user.role !== "guest") {%>
          <a href="/logout">Log out</a>
          <% } else if (user.role === "guest") {%>
          <a href="/signup">Sign up</a>
          <% } %>
        <% }
        if (page === "login") { %>
          <a href="/signup">Sign up</a>
        <% } else if (page === "signup") {%>
          <a href="/login">Log in</a>
        <% } %>
      </nav>
    </nav>
  </div>
  
</header>
