<header class="m-2 text-center pt-3 text-dark">
  <h1>Sprout Log</h1>
  <div class="d-flex flex-row justify-content-center align-content-center mt-4">
    <p
      id="clock"
      class="bg-info text-light p-2 fs-5 d-inline-block rounded"
    ></p>
  </div>
</header>
