<!DOCTYPE html>
<html lang="en-US">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <script src="/javascripts/sprouts.js" defer></script>
    <script>
      navigator.serviceWorker.register("sw.js");
    </script>
    <main class="d-flex flex-column align-items-center mt-2">
      <h2>My jars</h2>
      <div id="counter" class="text-center">
        <div
          id="jar-container"
          class="d-flex flex-row justify-content-center flex-wrap gap-3"
        ></div>
        <button
          id="add-jar"
          type="button"
          class="btn btn-outline-success align-self-center pt-1 text-dark mt-3 fs-3"
        >
          Add jar
        </button>

        <div id="seed-container" class="bg-white fixed-bottom">
          <h3 class="text-dark"></h3>
          <div class="mt-2">
            <button
              class="btn btn-outline-secondary me-2 shadow-sm"
              id="hide-seeds"
            >
              Hide
            </button>
            <button class="btn btn-outline-success shadow-sm" id="add-seed">
              Add
            </button>
          </div>

          <div id="seed-info" class="text-primary bg-white my-2">
            <h4 id="seed-name">Broccoli</h4>
            <p>
              Max <span id="seed-grams">50</span>g per jar | Soak for
              <span id="seed-soakTime">8-10 Hours</span> | Grow time is
              <span id="seed-growTime">4-5 Days</span>
            </p>
          </div>
          <div
            id="seed-buttons"
            class="btn-group btn-group-toggle gap-2 d-flex flex-row flex-wrap justify-content-center my-2"
            data-toggle="buttons"
          ></div>
        </div>
      </div>
    </main>
  </body>
</html>
