<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <div id="intro">
        <p>
          Track your sprouts from seed to harvest, sign up or log in to continue.
        </p>
        <p>
          🌱☀️
        </p>
      </div>
      <h2>Login</h2>
        <form action="/login" method="post" class="flex-container">
          <% if (message) {%>
            <p id="server-message"> <%= message %> </p>
          <% } %>
          <div>
            <label for="username">Username</label><br>
            <input
              id="username"
              name="username"
              type="text"
              autocomplete="username"
              required
              autofocus
            />
          </div>

          <div>
            <label for="current-password">Password</label><br>
            <input
              id="current-password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
            />
          </div>
          <button type="submit" class="button">Login</button>
          <p>Don't have an account? <a href="/signup">Sign up</a></p>
          
        </form>
        
      </div>
    </main>
  </body>
</html>
