<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <h2>Login</h2>
        <form action="/login/password" method="post" class="flex-container">
          <div>
            <label for="username">Username</label>
            <input
              id="username"
              name="username"
              type="text"
              autocomplete="username"
              required
              autofocus
            />
          </div>

          <div>
            <label for="current-password">Password</label>
            <input
              id="current-password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
            />
          </div>
          <button type="submit" class="button">Login</button>
        </form>
      </div>
    </main>
  </body>
</html>
