/* Table of contents */
/* 1. GENERIC */
/* 2. HEADER */
/* 3. BUTTONS/LINKS */
/* 4. CONTAINERS */
/* 5. MISC */
/* 6. ADMIN PAGE */
/* 7. MEDIA QUERIES */

/********* GENERIC *********/
body {
  color: black;
  font-size: 1.1rem;
  font-family: 'Rubik','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 20px;
  user-select: none;
}
main {
  margin: 50px 2px 20px;
}
main > h2 {
  margin-bottom: 2rem;
}
h1, h2, h3 {
  text-align: center;
}
/********* HEADER *********/
header {
  color: black;
  background-color: white;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* background-color: #17ff78; */
  overflow: hidden;
  min-height: 100px;
  z-index: 1;
}
header > .flex-container {
  max-width: 1200px;
}
header > .grid-container {
  max-width: 1200px;
}
header div,header nav {
  min-width: 99.5px;
}
header p {
  margin-bottom: 0;
  font-size: 1.2rem;
}
header h1 {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
/********* BUTTONS/LINKS *********/
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightsalmon;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
a.button:hover, button:hover {
  background-color: black;
  color: white;
}
button.button {
  background-color: #1cc75c;
  margin: 10px 0;
}
.days-text {
  color: #68daf8;
}
/********* CONTAINERS *********/
.jar {
  color: white;
  background-color: #555555;
}
.flex-container {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
form.flex-container {
  flex-direction: column;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  justify-items: center;
  align-items: center;
}
#seed-container {
  padding-bottom: 50px;
}
#jar-container h3 {
  color: lightgreen;
}
#seed-container {
  display: none;
  z-index: 1;
}
/********* MISC *********/
#logo {
  max-width: 130px;
}
td:first-child {
  text-align: left;
}
td:last-child {
  text-align: right;
}
.jar-progress {
  width: 100%;
  height: 1.5rem;
}
#seeds-list, #users-list {
  list-style-type: none;
}
#seed-info {
  display: none;
}
#server-message {
  letter-spacing: 1px;
  font-size: 1.2rem;
}
/********* ADMIN PAGE *********/
#add-seed-form-container {
  display: none;
}
.admin-content {
  max-width: 1200px;
  margin: 0 auto;
}
/********* MEDIA QUERIES *********/
@media screen and (min-width: 937px) {
  #logo {
    max-width: 200px;
  }
  header > .grid-container {
    gap: 120px;
  }
}