body {
  font-size: 1.1rem;
  font-family: 'Rubik','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 20px;
  user-select: none;
}

header {
  width: 100%;
  background-color: white;
  z-index: 1;
}

main {
  margin-top: 250px;
  margin-bottom: 135px;
}

td {
  padding-right: 1rem;
}

#jar-container h3 {
  color: lightgreen;
}

#jar-progress {
  width: 100%;
  height: 1.5rem;
}

#seeds-list, #users-list {
  list-style-type: none;
}